
.contenido-formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 82px 0px 102px;
    position: static;
    width: 1136px;
    height: 450px;
    left: 0px;
    top: 664px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 78px 0px 0px 0px;
}

.texto-formacion {
    position: static;
    width: 339px;
    height: 38px;
    left: 550.5px;
    top: 82px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}


.imagenes-formacion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 347px;
    left: 152px;
    top: 152px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.formacion1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 250px;
    height: 200px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.formacion1:hover {
    border-color: goldenrod;
    transform: scale(1.5);
    transition: all 0.3s;
}

.formacion2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 250px;
    height: 200px;
    left: 384px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.formacion2:hover {
    border-color: goldenrod;
    transform: scale(1.5);
    transition: all 0.3s;
}

.formacion3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 250px;
    height: 200px;
    left: 768px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.formacion3:hover {
    border-color: goldenrod;
    transform: scale(1.5);
    transition: all 0.3s;
}

.formaciones {
    position: static;
    width: 200px;
    height: 150px;
    left: 88px;
    top: 78px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px 0px 0px 5px;
}

.formaciones1 {
    position: static;
    width: 200px;
    height: 175px;
    left: 88px;
    top: 78px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px 15px 0px;
}

.p-formacion {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.p-formacion1 {
    font-weight: bold;
    margin-left: 45px;
}

.p-formacion2 {
    font-weight: bold;
    margin-left: 35px;
}

.p-formacion3 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 20px;
}

.p-formacion4 {
    font-weight: bold;
    margin-left: 34px;
}
