.nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 368px;
    left: 152px;
    top: 120px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.minombre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 751px;
    height: 246px;
    left: 0px;
    top: 61px;
    margin-left: 100px;
}

.lista-nombre {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 467px;
    height: 24px;
    left: 0px;
    top: 222px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
}

.imagen-instragram {
    position: static;
    width: 30px;
    height: 30px;
    left: 54px;
    top: 0px;
    margin: 0px 100px 0px 0px;
}

.imagen-twitter {
    position: static;
    width: 30px;
    height: 30px;
    left: 68px;
    top: 0px;
    margin: 0px 100px 0px 0px;
}

.imagen-linkedin {
    position: static;
    width: 30px;
    height: 30px;
    left: 80px;
    top: 0px;
    margin: 0px 100px 0px 0px;
}

.imagen-github {
    position: static;
    width: 30px;
    height: 30px;
    left: 73px;
    top: 0px;
}

.mifoto {
    background: url(/img/foto.jpg) no-repeat;
    position: static;
    width: 368px;
    height: 468px;
    left: 768px;
    top: 0px;
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 100px;
    margin-left: 20px;
}

.texto-nombre {
    position: static;
    width: 751px;
    height: 122px;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
    margin: 0px 0px 24px 0px;
}

.texto-nombre1 {
    position: static;
    width: 751px;
    height: 72px;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    margin: 0px 0px 30px 0px;
}

@media only screen and (max-width: 500px) and (min-width: 5px) {
    .nombre {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        width: 560px;
        height: 368px;
        order: 1;
        flex-grow: 0;
        margin: 0px;
    }

    .texto-nombre {
        font-size: 30px;
        line-height: 40px;
        width: 460px;
    }

    .texto-nombre3 {
        width: 400px;
        text-align: justify;
    }

    .minombre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 246px;
        margin-left: 40px;
    }

    .texto-nombre1 {
        height: 72px;
        font-size: 20px;
        line-height: 26px;
        color: rgb(70, 70, 70);
        margin: 0px 0px 30px;
    }

    .imagen-instragram {
        width: 30px;
        margin: 20px 50px 0px 0px;
    }

    .imagen-twitter {
        width: 30px;
        margin: 20px 50px 0px 0px;
    }

    .imagen-linkedin {
        width: 30px;
        margin: 20px 50px 0px 0px;
    }

    .imagen-github {
        width: 30px;
        margin: 20px 0px 0px 0px;
    }

    .mifoto {
        display: none;
    }
}