.contenido-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 30px 30px;
    position: static;
    width: 1136px;
    height: 344px;
    left: 152px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 30px 60px;
}

.texto-skills {
    position: static;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.skills-imagenes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.skills-html {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 176px;
    height: 174px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.skills-html:hover {
    border-color: goldenrod;
    transform: scale(1.5) rotate(360deg);
    transition: all 0.3s;
}

.skills-css {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 176px;
    height: 174px;
    left: 300px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.skills-css:hover {
    border-color: goldenrod;
    transform: scale(1.5) rotate(360deg);
    transition: all 0.3s;
}

.skills-js {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 176px;
    height: 174px;
    left: 384px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.skills-js:hover {
    border-color: goldenrod;
    transform: scale(1.5) rotate(360deg);
    transition: all 0.3s;
}

.skills-qa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 176px;
    height: 174px;
    left: 576px;
    top: 0px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 16px;
    border: 2px solid black;
    cursor: pointer;
}

.skills-qa:hover {
    border-color: goldenrod;
    transform: scale(1.5) rotate(360deg);
    transition: all 0.3s;
}

.programa {
    position: static;
    width: 100px;
    height: 100px;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

@media only screen and (max-width: 500px) and (min-width: 5px) {
    .contenido-skills {
        display: flex;
        align-items: center;
        position: static;
        margin: 0px 0px 30px 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 420px;
        height: 800px;
    }

    .skills-imagenes {
        display: flex;
        flex-direction: column;
    }

    .skills-html {
        padding: 16px;
        margin: 0px 16px;
        border: 2px solid black;
        cursor: pointer;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .skills-css {
        padding: 16px;
        margin: 0px 16px;
        border: 2px solid black;
        cursor: pointer;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .skills-js {
        padding: 16px;
        margin: 0px 16px;
        border: 2px solid black;
        cursor: pointer;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .skills-qa {
        padding: 16px;
        margin: 0px 16px;
        border: 2px solid black;
        cursor: pointer;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
}